// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #231b06;
$light-gray: #f4f4f4;
$gold-4: #deb348;
$gold-black: #231b06;
