.first-last-name,
.address-input,
.city-state-zip,
.phone-email,
.pass-confirmpass {
  margin-bottom: 15px;
}

.signup-new-user-btn {
  width: 100%;
  font-weight: 600;
  color: $gold-black;
}

.login-new-user-btn {
  width: 100%;
  font-weight: 600;
  // color: $gold-4;
}
