h5,
p {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  border: none;
  width: 252px; // 10% smaller than original 280px
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  opacity: 0.85;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.2); // Adjusted box-shadow
    opacity: 1;
  }


  .img {
    width: 100%;
    height: 198px; // 10% smaller than original 220px
    border-radius: 8px 8px 0 0; // Retained border-radius
    background: #c1c1c1;
    margin-bottom: 0;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;

    .card-title {
      color: #231b06;
      font-size: 16px; // 10% smaller than original 18px
      font-weight: 600;
      margin-top: 15px; // Adjusted margin
    }

    #card-text-brand,
    #card-text-year,
    #card-text-km {
      color: #676767;
      font-size: 12px; // 10% smaller than original 14px
      margin-top: 3px; // Adjusted margin
      margin-bottom: 10px; // Adjusted margin
    }

    #card-text-price {
      color: #404040;
      font-size: 16px; // 10% smaller than original 18px
      font-weight: 600;
      margin-bottom: 10px; // Adjusted margin
    }

    .kms-span {
      color: #676767;
      font-size: 10px; // 10% smaller than original 12px
      align-self: flex-end; // Adjusted alignment
    }

    .text-year-km {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .btn {
      align-self: center;
      width: 100%;
    }
  }

}
.card-order {
  display: flex;
  border: none;
  width: 500px; // 10% smaller than original 280px
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0;
  padding: 15px;
  transition: all 0.4s ease;
  opacity: 0.85;
}

// Não editar o card
