.navbar-lecarrossa {
  height: 80px;
  background-color: rgb(59, 59, 59);
  border-top-style: solid;
  border-width: 2px;
  border-color: rgb(248, 201, 131);
  color: rgb(255, 246, 235);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-decoration: none;

  .navbar-left-lecarrossa {
    margin-left: 48px;
  }

  .navbar-center-lecarrossa {
    margin-top: 8px;
  }

  .navbar-right-lecarrossa {
    margin-top: 8px;
    margin-right: 48px;

  }
}

.navbar-lecarrossa-link {
  color: rgb(255, 246, 235);
  text-decoration: none;
  transition: 300ms;

  &:hover {
    color: rgb(187, 182, 177);
    transition: 300ms;
  }
}

.navbar-lecarrossa-logo {
  height: 64px;
  border-radius: 50%;
  transition: 300ms;

  &:hover {
    box-shadow: rgba(238, 255, 0, 0.4) 0px 0px 0px 2px, rgba(238, 255, 0, 0.65) 0px 4px 6px -1px, rgba(238, 255, 0, 0.08) 0px 1px 0px inset;
    transition: 300ms;
  }
}

.navbar-lecarrossa-list {
  list-style: none;
}

#my-name {
  text-decoration: solid;
}
