.cards {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(252px, 252px));
  justify-content: center;
  // justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  margin-top: 40px;
}
